html {
  overflow: hidden;
  height: 100%;
  background: linear-gradient(134.72deg, #eb4b92 0%, #ca76e3 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  height: 100%;
  overflow: auto;
  text-align: center;
}

footer {
  clear: both;
  height: auto;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  width: 100%;
  background: #333;
  padding: 10px;
  color: #fff;
}

.logOut {
  font-family: "Prompt";
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  position: relative;
  left: 800px;
  top: 50px;
}

.logOut:hover {
  color: rgb(158, 84, 143);
  transition: 0s;
  cursor: pointer;
  text-decoration-line: underline;
}

#login {
  position: relative;
  top: -50px;
  box-shadow: 0px 0px 3px 0px;
  height: auto;
  margin: auto;
  margin-bottom: 75px;
  width: 360px;
  background-color: #ffffff;
  border-radius: 1px;
  text-align: center;
  align-items: center;
  font-family: "Prompt";
  font-weight: 600;
  justify-content: center;
  padding-bottom: 20px;
}

h1 {
  font-family: "Prompt", sans-serif;
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(255, 171, 241), rgb(251, 65, 201));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

table {
  margin-bottom: 50px;
}

#title {
  font-family: "Prompt", sans-serif;
  background: -webkit-linear-gradient(#eee, rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8em;
  text-align: center; 
  font-weight: bold;
}

/* TODO: Add form styling */

.addCrush {
  height: auto;
  width: auto;
  border-radius: 25px;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  padding-top: 1px;
  padding-bottom: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  clear: left;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crushButton {
  width: 150px;
  height: 33px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 15px;
  font-family: "Prompt", sans-serif;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 15px 15px 0px 0px;
}

.crushButton:hover {
  color: #ff94af;
  transition: 0.5s;
  background-color: #ffffff;
}

.createForm {
  background: transparent;
  height: auto;
  width: auto;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 20px 20px 20px;
  padding-top: 1px;
  padding-bottom: 20px;
}

input {
  margin-bottom: 3vh;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color: transparent;
  outline: none;
  color: black;
  caret-color: black;
  font-family: "Prompt", sans-serif;
}

input[type="text"]::placeholder {
  text-align: center;
  color: black;
  font-family: "Prompt", sans-serif;
}

.box {
  width: auto;
  height: 30px;
  margin: 20 10 10 0;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 3px 3px #ccc;
  font-family: "Prompt";
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-button {
  font-family: "Prompt", sans-serif;
  color: white;
  display: inline-flex;
  gap: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid rgba(255 255 255 / 10%);
  border-radius: 2rem;
  outline: none;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0 0 0 / 15%);
  border-color: rgba(255 255 255 / 15%);
}

.clear-button:hover {
  color: #ff94af;
  transition: 0.5s;
  background-color: #ffffff;
}

/*
span {
  height: 20px;
  line-height: 20px;
}
*/

#list>.list-items {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  margin: 0 100 0 100;
  font-family: "Prompt", sans-serif;
  justify-content: center;
}

#list>.list-items>.list-item {
  width: auto;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  background-color: rgba(0 0 0 / 15%);
  border-radius: 5px;
  gap: 1rem;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
}

#list>.list-items>.list-item:hover,
#list>.list-items>.list-item:focus {
  transition: 0.5s;
  background-color: rgba(269, 0, 169, 10%);
}

#list>.list-items>.list-item>.list-item-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.15rem;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-content: center;
}

#list>.list-items>.list-item>.list-item-info>.title-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  clear: both;
}

#list>.list-items>.list-item>.list-item-info>.tags {
  width: auto;
  clear: both;
}

#popup{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
}

#popup-content{
  position:relative;
  background:rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 50px;
  border: 1px solid white;
  border-radius:5px;
  text-align:center;
}

#popup-header{
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 0 0 0 0;
}

#popup-body{
  font-size: 20px;
  color: white;
  margin: 4% 0 0 0;
}