html{
  overflow: hidden;
  height: 100%;
  /* new stuff*/
  background: linear-gradient(134.72deg, #eb4b92 0%, #ca76e3 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  height: 100%;
  overflow: auto;
  text-align: center;
}
footer {
  clear: both;
  height: auto;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  width: 100%;      
  background: #333;
  padding: 10px;
  color: #fff;
}
#login {
  position: relative;
  top: -50px;
  box-shadow: 0px 0px 3px 0px;
  height: auto;
  margin: auto;
  margin-bottom: 75px;
  width: 360px;
  background-color: #ffffff;
  border-radius: 1px;
  text-align: center;
  align-items: center;
  font-family: "Prompt";
  font-weight: 600;
  justify-content: center;
  padding-bottom: 20px;
}

#loginHeader{
  margin-bottom:0px;
}

h5 {
  -webkit-text-stroke-color: black;
  margin: 0;
  text-align: center;
  color: red;
  font-family: product-sans;
  font-family: "Prompt", sans-serif;
  background: -webkit-linear-gradient(#eee, rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

small{
  font-size:12px;
}

#title {
  font-family: "Prompt", sans-serif;
  background: -webkit-linear-gradient(#eee, rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8em;
  text-align: center;
}

.googleButton {
  border: 1px solid #c1c1c1;
  border-radius: 45.3px;
  padding: 5px 20px 10px 30px;
  margin: 10px 10px 0px 10px;
  background-color: #ffffff;
  color: #484848;
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  font-size: 16px;
  opacity: 1;
  transition: 0.5s;
}

.googleButton:hover {
  cursor: pointer;
  background-color: #ebebeb;
  opacity: 1;
  transition: 1s;
  color: #484848;
}

#createAcc{
  background:    #e9a6ce;
  border: 0px;
  border-radius: 10px;
  padding:       10px 45px;
  font-family: "Prompt", sans-serif;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 17px/1 "Prompt", sans-serif;
  text-align:    center;
}
/* TODO: Add form styling */

#submit
{
  color: #ffffff;
  background-color: #ff94af;
  font-family: "Prompt";
  font-size: 15px;
  border: 1px solid #ff94af;
  border-radius: 12px;
  padding: 15px 50px;
  cursor: pointer
}
#submit:hover {
  color: #ff94af;
  transition: 0.5s;
  background-color: #ffffff;
}

form {
  background: transparent;
  height: auto;
  width: auto;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 20px 20px 20px;
  padding-top: 1px;
  padding-bottom: 20px;
}
input {
  margin-bottom: 3vh;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color: transparent;
  outline: none;
  color: black;
  caret-color: black;
  font-family: "Prompt", sans-serif;
}
input[type="text"]::placeholder {
  text-align: center;
  color: black;
  font-family: "Prompt", sans-serif;
}
.box {
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: auto;
  color: #000000;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 3px 3px #ccc;
  font-family:"Prompt";
}

#loginHeader{
  padding-top: 20px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn{
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 20px;
    font-family: "Prompt", sans-serif;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 20px;
}

svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #ff2b75;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 69px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}