body {
    background-color: #faaca8;
    background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

#login {
    position: relative;
    top: -50px;
    box-shadow: 0px 0px 3px 0px;
    height: 150px;
    margin: auto;
    width: 300px;
    background-color: #ffffff;
    border-radius: 1px;
    text-align: center;
    align-items: center;
    font-family: "Prompt";
    font-weight: 600;
    justify-content: center;
}

hr {
    margin: auto 220px;
}

h5 {
    -webkit-text-stroke-color: black;
    margin: 0;
    text-align: center;
    color: red;
    font-family: product-sans;
    font-family: "Prompt", sans-serif;
    background: -webkit-linear-gradient(#eee, rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title {
    font-family: "Prompt", sans-serif;
    background: -webkit-linear-gradient(#eee, rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8em;
    text-align: center;
}

.customButton {
    border: 1px solid #C1C1C1;
    border-radius: 45.3px;
    padding: 5px 20px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    color: #484848;
    font-family: "Prompt", sans-serif;
    font-weight: bold;
    opacity: 1;
    transition: 0.5s;
}

.customButton:hover {
    cursor: pointer;
    background-color: #EBEBEB;
    opacity: 1;
    transition: 1s;
    color: #484848;
}
