@font-face {
    font-family: product-sans;
    src: url('fonts/Product Sans Regular.ttf');
}

.loginButton {
    background: #ffadee;
    border-radius: 20px;
    padding: 10px 14px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 13px/1 "Product Sans Regular", product-sans;
    text-align: center;
}
body {
    background-color: lightpink;
}

#login {
    text-align: center;
    font-family: product-sans;

    
}
hr {
    margin: auto 220px
}

h5 {
    
    -webkit-text-stroke-color: black;
    padding-top: 220px;
    margin: 0;
    text-align: center;
    color: red;
    font-family: product-sans;
}

.center{
    justify-content: center;
	align-items: center;
}
